<div class="row">
  <div class="col-md-9 col-7">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="category.id">
      <label ngbButtonLabel class="btn-light">
        <input ngbButton type="radio" [value]="0" (click)="filterPosts(0)"> All
      </label>
      <label ngbButtonLabel *ngFor="let c of categories" class="btn-light">
        <input ngbButton type="radio" [value]="c.id" (click)="filterPosts(c.id)"> {{c.name}}
      </label>

    </div>
  </div>
  <div class="col-md-3 col-5 text-right">
    <button class="btn btn-primary" (click)="openPost(0)">New post</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 margin-default">
    <h3>Posts</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12" *ngIf="posts.length == 0">
    <div class="card margin-default">
      <div class="card-body">
        <p class="card-text">You dont have posts.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="posts.length > 0">
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel *ngFor="let p of posts" id="ac{{p.id}}">
        <ng-template ngbPanelTitle>
          {{p.insertDate | date}} - {{p.category.name}} - {{p.title}}
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-12">
              <h5 class="margin-default">Post</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card margin-default">
                <div class="card-body">
                  <h6 class="card-title">{{p.ownerUser.name}}</h6>
                  <p class="card-text">{{p.content}}</p>
                  <button class="btn btn-primary" *ngIf="userLogged != undefined && p.ownerUserId == userLogged.id" (click)="openPost(p.id)">Edit post</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="p.comments.length > 0">
            <div class="col-md-12">
              <h5 class="margin-default">Comments</h5>
            </div>
          </div>
          <div class="row" *ngFor="let c of p.comments">
            <div class="col-md-12">
              <div class="card margin-default">
                <div class="card-body">
                  <h6 class="card-title">{{c.ownerUser.name}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{c.insertDate | date}}</h6>
                  <p class="card-text">{{c.content}}</p>
                  <button class="btn btn-primary" *ngIf="userLogged != undefined && c.ownerUserId == userLogged.id" (click)="openComment(p.id, c.id)">Edit comment</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary margin-default" (click)="openComment(p.id, 0)">Comment</button>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>